:root {
  --basic-text-color: #757575;
  --text-color: #212121;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
}

body {
  background-color: var(--basic-bg-color);
  color: var(--basic-text-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 4px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* знімаємо маржини з заголовків і абзаців */
h1,
h2,
h3,
p {
  margin: 0;
}

/* обнуляція списку */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ссилки */
.link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* заголовки*/

.section-title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-bottom: 50px;
}

/* логотип */
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;
}

.logo-white {
  color: var(--text-white-color);
}

/* навигація */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--basic-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  background-color: var(--bg-color);
  text-align: center;
}

.hero-title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  display: inline-block;
  min-width: 696px;
  margin-top: 200px;
  margin-left: 252px;
  margin-bottom: 40px;
  margin-right: 252px;
  border: 1px solid #000000;
}

/* функції */

.feature-items .title {
  color: var(--text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-top: 0;
}

/* чим ми займаємося */

/* команда */
.team-items .title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 10px;
}
.team-items .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* футер */
.footer {
  background-color: var(--bg-color);
  line-height: 1.71;
}

.footer-address {
  color: var(--text-white-color);
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* портфоліо кнопки*/
.button {
  font-family: inherit;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0;
}
.primary {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 700;
  line-height: 1.87;
  align-items: center;

  padding: 10px 32px;
  min-width: 200px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 230px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button .primary:hover,
.button .primary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.62;

  padding: 6px 22px;
  margin-bottom: 34px;
  text-align: center;
  border: transparent;
}

.button .secondary:hover,
.button .secondary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

.button .secondary.current {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  min-width: 73px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button .secondary.web {
  min-width: 128px;
}
.button .secondary.application {
  min-width: 145px;
}

.button .secondary.desing {
  min-width: 103px;
}
.button .secondary.marketing {
  min-width: 130px;
}

/* картинки портфоліо */

.images-items {
  color: var(--basic-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.images-items-title {
  color: var(--text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

/* верхня лінія */
