:root {
  --basic-text-color: #757575;
  --text-color: #212121;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
}

body {
  background-color: var(--basic-bg-color);
  color: var(--basic-text-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 4px solid red;
}

/* обнуляція списку */
.list {
  list-style: none;
}

/* ссилки */
.link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* заголовки*/

.section-title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* логотип */
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;
}

.logo-white {
  color: var(--text-white-color);
}

/* навигація */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--basic-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  background-color: var(--bg-color);
}

.hero-title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-primary {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

/* функції */
.feature-items .title {
  color: var(--text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

/* команда */
.team-items .title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-items .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* футер */
.footer {
  background-color: var(--bg-color);
  line-height: 1.71;
}

.footer-address {
  color: var(--text-white-color);
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* портфоліо кнопки*/

.button-secondary {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

.button-secondary.current {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

/* картинки портфоліо */

.images-items {
  color: var(--basic-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.images-items-title {
  color: var(--text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
